html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    
    
}

p {
    margin-block-start: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #b2bec3;
}



.main-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    

    height: 100%;
}

.carousel-image {
    width: 100%;
    margin: 0;
    padding: 1em;
    /* height: 85vh; */
}

.first-part{
    width: 50%;
}

.second-part{
    width: 50%;
    margin-top: 10px;
    
}

.main-text-div {
    width: 30%;
    margin: 1em;
}

.carruseles {
    width: 50%;
    max-height: 50vh;
    margin-top: 10px;
}



